torch==2.10.0
transformers==4.57.5
fastapi==0.128.0
uvicorn==0.29.0
accelerate
protobuf
sentencepiece
einops==0.8.1
# flash_attn==2.7.4.post1
prometheus_client==0.23.1
diffusers==0.36.0
cache_dit==1.1.10

