torch==2.9.1
transformers==4.57.3
fastapi==0.115.13
uvicorn==0.29.0
accelerate
protobuf
sentencepiece
einops==0.8.1
# flash_attn==2.7.4.post1
prometheus_client==0.24.1
diffusers==0.36.0
cache_dit==1.1.10

